@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Modo CLARO */
  --neon: #00FF88;
  --neon-dim: #00CC6A;
  --neon-muted: rgba(0,255,136,0.10);
  --neon-border: rgba(0,255,136,0.25);

  --bg: #FFFFFF;
  --bg2: #F7F9FB;
  --bg3: #EEF2F6;
  --bg4: #E4EAF0;

  --txt: #0A0F14;
  --txt2: #4A5A6A;
  --txt3: #8A9BB0;

  --border: rgba(0,0,0,0.07);
  --border2: rgba(0,0,0,0.12);

  --amber: #B86A00;
  --amber-bg: rgba(255,179,71,0.10);
  --amber-border: rgba(255,179,71,0.25);

  --red: #CC2A40;
  --blue: #1A6FCC;
}

html.dark {
  /* Modo OSCURO */
  --bg: #080D14;
  --bg2: #0D1520;
  --bg3: #111C2A;
  --bg4: #162030;

  --txt: #FFFFFF;
  --txt2: #8A9BB0;
  --txt3: #4A5A6A;

  --border: rgba(255,255,255,0.07);
  --border2: rgba(255,255,255,0.12);

  --amber: #FFB347;
  --amber-bg: rgba(255,179,71,0.08);
  --amber-border: rgba(255,179,71,0.20);

  --red: #FF4D6A;
  --blue: #4DA6FF;
}